@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.woff)
    format('truetype');
  unicode-range: U+AC00-D7A3, U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.woff)
    format('truetype');
  unicode-range: U+AC00-D7A3, U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.woff)
    format('truetype');
  unicode-range: U+AC00-D7A3, U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

body {
  background: #070d2d;
}

body.hydrating #root,
body.snapped #root,
body.dry #root,
body.hydrating #panorama,
body.snapped #panorama,
body.dry #panorama {
  display: none !important;
}

body.hydrated #root,
body.hydrated #panorama {
  display: block;
  animation: fadein 0.2s;
}

body.hydrating #splash,
body.dry #splash {
  display: block;
}

body.hydrated #splash {
  display: none;
}

#splash-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  min-width: 160px;
}

body.dry #splash-icon path {
  animation: splashfadein 0.4s ease-out forwards;
  opacity: 0;
}

body.dry #splash-icon .icon {
  animation: fadein 0.5s forwards;
  animation-delay: 0.2s;
}

body.dry #splash-icon .i1 {
  animation-delay: 0.4s;
}

body.dry #splash-icon .z {
  animation-delay: 0.45s;
}

body.dry #splash-icon .f {
  animation-delay: 0.5s;
}

body.dry #splash-icon .l {
  animation-delay: 0.55s;
}

body.dry #splash-icon .i2 {
  animation-delay: 0.6s;
}

body.dry #splash-icon .x {
  animation-delay: 0.65s;
}

body.hydrating #splash-icon {
  animation: fadeout 0.2s;
  animation-fill-mode: forwards;
}

@keyframes splashfadein {
  from {
    opacity: 0;
    transform: translate(0, 24px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
