@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.woff)
    format('truetype');
  unicode-range: U+AC00-D7A3, U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.woff)
    format('truetype');
  unicode-range: U+AC00-D7A3, U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.woff)
    format('truetype');
  unicode-range: U+AC00-D7A3, U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

body {
  background: #070d2d;
}

body.hydrating #root,
body.snapped #root,
body.dry #root {
  display: none !important;
}

body.hydrated #root {
  display: block;
  animation: fadein 0.2s;
}

body.hydrating #splash,
body.dry #splash {
  display: block;
}

body.hydrated #splash {
  display: none;
}

#splash-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
  min-width: 160px;
  opacity: 0;
}

body.dry #splash-icon {
  animation: fadein 0.2s forwards;
  animation-delay: 0.2s;
}

body.hydrating #splash-icon {
  animation: fadeout 0.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
