include head.pug
include image.pug

html
  +head('IZFLIX', 'https://izflix.net')
  body.hydrated.snapped
    #root
      h1 IZFLIX
      h2 Concerts, Music shows HD streaming & Replay
      include nav.pug
      h3 Playlists
        each playlist in playlists.filter(playlist => playlist.id.length === 8)
          article
            h4= playlist.title
            p= playlist.description
            +image(playlist.thumbnail)
      h3 Videos
        each video in videos
          article
            h3= video.title
            p= video.description
            +image(video.id)
    include footer.pug