@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #070d2d;
  font-family: 'NanumSquare', sans-serif;
}
